html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('images/smccnasipit_cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    width: 90%;
    max-width: 1200px;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgb(7, 7, 82);
}

nav ul {
    list-style: none;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 1000px) {
    nav {
        position: relative;
        width: 100%;
        background-color: rgb(7, 7, 82);
    }

    .logo {
        position: relative;
        float: left;
        margin: 16px 36px;
        color: white;
        font-weight: bold;
        font-size: 24px;
    }

    nav ul li {
        display: block;
        padding: 7px;
        text-align:end;
    }
}