body {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('images/smcc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    position: fixed;
    margin: 16px 36px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    z-index: 3;
}

#logo img {
    vertical-align: middle;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgb(7, 7, 82);
    z-index: 2;
    top: 0;
}

nav ul {
    text-align: right;
    list-style: none;
    overflow: hidden;
    color: white;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s;
}

nav ul li:hover a {
    color: #ffd208;
}

h1 {
    margin: 5;
    color: rgb(7, 7, 82);
    font-size: 60px;
    text-shadow: 4px 4px 2px #ffd208;
}

h2 {
    color: rgb(7, 7, 82);
    text-shadow: -1px 0 #ffd208, 0 2px #ffd208, 2px 0 #ffd208, 0 -1px #ffd208;
}

p {
    text-align: justify;
}

main {
    position: relative;
    background-attachment: fixed;
    background-image: url(images/smccblur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#smcclogo,
#smccvision,
#smccmission,
#ccis,
#cbm,
#cthm,
#studentserv,
#onlineserv,
#contactsec {
    background-color: #05053bf5;
    border-radius: 15px;
    padding: 20px;
    width: 70%;
    margin: 50px auto;
    color: white;
}

h3 {
    color: #ffd208;
}

table {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

td {
    text-align: center;
    padding: 20px .625em .625em .625em;
    border-bottom: 1px solid #f8f8f8;
    text-align: left;
    font-size: 13px;
}

#studentserv a,
#onlineserv a {
    font-size: 15px;
    text-decoration: none;
    color: white;
}

#studentserv a:hover,
#onlineserv a:hover,
#contactsec figure a:hover {
    color: #ffd208;
}

#contactsec img {
    vertical-align: middle;
}

#contactsec figure a,
#contactsec figure {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

#butt {
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    padding: 3px 5px;
    text-align: center;
    transition: 200ms;
    width: auto;
    font-size: 12px;
}

#butt:hover {
    width: auto;
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gold;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Media query for smaller screens */
@media only screen and (max-width: 980px) {
    nav {
        position: absolute;
        width: 100%;
        background-color: rgb(7, 7, 82);
        z-index: 2;
        top: 0;
    }

    #logo {
        position: absolute;
        margin: 16px 36px;
        color: white;
        font-weight: bold;
        font-size: 24px;
        z-index: 3;
    }

    nav ul li {
        display: block;
        padding: 5px;
        text-align: end;
    }

    h1 {
        margin: 5;
        color: black;
        font-size: 40px;
    }

    td {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        width: 120px;
        font-size: 13px;
    }

    #nc {
        text-align: center;
    }
}

@media only screen and (max-width: 1150px) {
    #cbm td {
        white-space: wrap;
    }
}

@media only screen and (max-width: 600px) {
    td {
        white-space: wrap;
    }
}